#是否递归监听目录
recursion=true
#新目录或文件的gid
gid=500
#新目录或文件的uid
uid=500
#目录或文件的权限值
perm=775

#项目名称
[fsnotify-sync]
#项目根目录
root=/data/fsnotify-sync
[fsnotify-sync.ignore]
#需要忽略的文件或目录
ignore=.git/
ignore=.idea/
[fsnotify-sync.files]
#需要映射的文件或目录
conf=/home/root/app/fsnotify-sync